# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Projet-Semestriel 1.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Shiva\Projet-Semestriel 1\.idea\.idea.Projet-Semestriel 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
